<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flashcard.newport.project" >

    <application
        android:name="com.flashcard.newport.project.deck.DeckHolder"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.flashcard.newport.project.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.NewDeckActivity"
            android:label="@string/decks"
            android:parentActivityName="com.flashcard.newport.project.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.MainActivity"/>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.CreateCardActivity"
            android:label="@string/options"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.flashcard.newport.project.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.OptionsActivity"/>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.OptionsActivity"
            android:label="@string/deck_list"
            android:parentActivityName="com.flashcard.newport.project.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.MainActivity"/>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.EditDeckTableActivity"
            android:label="@string/options"
            android:parentActivityName="com.flashcard.newport.project.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.OptionsActivity"/>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.EditCardActivity"
            android:label="@string/card_table"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="com.flashcard.newport.project.EditDeckTableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.EditDeckTableActivity"/>
        </activity>
        <activity
            android:name="com.flashcard.newport.project.StudyDeckActivity"
            android:label="@string/options"
            android:parentActivityName="com.flashcard.newport.project.OptionsActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.OptionsActivity"/>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.GradeActivity"
            android:label="@string/options"
            android:parentActivityName="com.flashcard.newport.project.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flashcard.newport.project.OptionsActivity"/>
        </activity>

        <activity
            android:name="com.flashcard.newport.project.DeckScoreActivity"
            android:label="@string/options">
        </activity>
    </application>

</manifest>
